header{
	text-align: center;	
}
#header{
	height:91px;
	width:114px;
	border-bottom: 5px solid #ccc;
	border-radius:50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 9px;
}
h3{
	margin-top:5px ;
}
header img{
	height:80px;
	width:94px
}
#index_main{
	width:250px;
	position: absolute;
	left:50%;
	top:200px;
	margin-left: -125px;
}
#cat_box img{
	width:100px;
	height:110px;
	text-align:center;
}
#cat_box{
	text-align:center;
	margin-right:50px;
	margin-bottom:30px;
}
footer{
	position: absolute;
	bottom:-250px;
	left:50%;
	margin-left: -200px;
}
footer img{
	width:400px;
	height:200px
}
footer h3{
	position: absolute;
	bottom: 140px;
	left:50%;
	margin-left:-72px;
}
