#sfzcx_main{
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 44%;
}
#result{
	width:306px;
	height: 121px;
	margin: 0 auto;
}
#result .text{
	width:300px;
	height:25px;
	border:3px solid #000000;
	outline: none;
	font-size: 16px;
	margin-bottom: 10px;
}
#result p{
	line-height: 30px;
}
aside{
	width: 100%;
	height: 100%;
	background: #000000;
	position: absolute;
	left:0px;
	top:0px;
	opacity: 0.5;
	z-index: 99;
	
}
aside h3{
	position: absolute;
	color: #11C1F3;
	left:50%;
	top:50%;
	margin-left:-33px;
	margin-top:50px
}
#img{
	width:150px;
	height: 96px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -75px;
	margin-top: -50px;
	border-radius: 50%;
	overflow: hidden;
}
aside img{
	width: 200px;
	height:150px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -100px;
	margin-top: -75px;
}