<section id="index_main">
	<div id="cat_box" class="left">
		<a href="#/sfzcx">
			<img src="img/1.png"/>
			<h5>身份证查询</h5>
		</a>
	</div>
	<div id="cat_box" class="left" style="margin:0px">
		<a href="#/sjhmcx">
			<img src="img/2.png"/>
			<h5>手机号查询</h5>
		</a>
	</div>
	<div id="cat_box" class="left">
		<a href="#/xzcx">
			<img src="img/3.png"/>
			<h5>星座运势查询</h5>
		</a>
	</div>
	<div id="cat_box" class="left" style="margin:0px">
		<a href="#/sfzcx">
			<img src="img/4.png"/>
			<h5>星座运势查询</h5>
		</a>
	</div>
</section>