<section id="index_main">
	<div class="center">
		<div id="cat_box" class="left">
			<a href="#/sfzcx">
				<img src="img/1.png"/>
				<h5>身份证查询</h5>
			</a>
		</div>
		<div id="cat_box" class="left" style="margin:0px">
			<a href="#/sjhmcx">
				<img src="img/2.png"/>
				<h5>手机号查询</h5>
			</a>
		</div>
		<div id="cat_box" class="left">
			<a href="#/xzcx">
				<img src="img/3.png"/>
				<h5>星座运势查询</h5>
			</a>
		</div>
		<div id="cat_box" class="left" style="margin:0px">
			<a href="#/njzw">
				<img src="img/4.png"/>
				<h5>脑筋急转弯</h5>
			</a>
		</div>
		<div id="cat_box" class="left">
			<a href="#/zgjm">
				<img src="img/5.png"/>
				<h5>周公解梦</h5>
			</a>
		</div>
		<div id="cat_box" class="left" style="margin:0px">
			<a href="#/njzw">
				<img src="img/6.png"/>
				<h5>微信热门精选</h5>
			</a>
		</div>
		<p style="clear: both;"></p>
	</div>
</section>